<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/bootstrap/css/font-awesome.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/reset-min.css" />
        <!--[if IE 7]>
        <link rel="stylesheet"
                  href="/static/font-awesome/css/font-awesome-ie7.css">
        <![endif]-->
    {% endblock %}
    {% block headscript %}

    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div id="site-header" class="page-header row-fluid">
        <div class="span2 hidden-phone"></div>
        <div class="span8">
            {% block header %}<h1>Header block</h1>{% endblock %}
        </div>
        <div class="span2 hidden-phone"></div>
    </div>
    <div id="alerts" class="row-fluid">
        <div class="span2 hidden-phone"></div>
        <div class="span8">
            {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
        <div class="span2 hidden-phone"></div>
    </div>
    <div id="content-wrapper" class="row-fluid">
        <div class="span2 hidden-phone"></div>
        <div id="content" class="span8">
            {% block content %}{% endblock %}
        </div>
        <div class="span2 hidden-phone"></div>
    </div>
    <div id="footer" class="row-fluid">
        <div class="span2 hidden-phone"></div>
        <div class="span8">
            {% block footer %}{% endblock %}
        </div>
        <div class="span2 hidden-phone"></div>
    </div>
</div>
{% block bodyscript %}
    <script src="/static/js/main.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script>
        $(".alert").alert();
    </script>
{% endblock %}
</body>
</html>
